.play li { list-style: none; }
.play img { border: none; }



.play { width: 100%; height: 610px;  position: relative;
    margin: 0px auto 0;  overflow: hidden;}
    //
.play ol { position: absolute; right: 240px; bottom: 34px; z-index: 2;}
.play ol li { width: 10px; height: 10px; border: 1px solid #fff; float: left; border-radius: 6px;margin-right: 6px; display: inline; cursor: pointer;}
.play .active { width: 12px; height: 12px;border-radius: 8px;
 background: #fff; position: relative; bottom: 1px; }

.play ul { position: absolute; top: 0; left: 0; z-index: 1; width: 7578px;}
.play ul li { width: 1263px; height: 610px; float: left; }
.play ul li a img { width: 100%; height: 610px; }